@page "{DigitalCredentialId}"
@model OH.DI.Web.Pages.ToDoRazorPage.IndexModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <h2>@Model.Message</h2>
}
else
{

<h2>DigitalCredential (Razor Page)</h2>

<h3>Name: @Model.DigitalCredential?.Name</h3>

<b>Items:</b>

    <ul>
        @if (Model.DigitalCredential != null)
        {
            @foreach (var item in Model.DigitalCredential.Items)
            {
                <li>
                    @item.Title
                    @if (item.IsDone)
                    {
                        <span>DONE!</span>
                    }
                    else
                    {
                        <span>NOT DONE</span>
                    }
                    <br/>@item.Description
                </li>
            }
        }
    </ul>
}
